<%- include("partials/header"); -%>
<section id="home" class="home height">
    <center><br><h1>ABOUT US</h1>
    <br>
    <p id="homePara" style="margin-left:20rem;margin-right:20rem;text-align: justify;">This website is intended to serve as a health index calculator which qualtifies the data entered by the user and outputs a score out of 100 which is indicative of their overall health.</p>
    <p style="margin-left:20rem;margin-right:20rem;text-align: justify;">The parameters which we have chosen are: BMI, resting pulse rate, resting BP, blood sugar level among others which are key indicators of a person's overall well being.</p>
    <p style="margin-left:20rem;margin-right:20rem;text-align: justify;">This website has been built by:
      <ul>
        <li>Gautam Prakash</li>
        <li>Nanduri Jayant Vishnu</li>
        <li>Anmol Srivastava</li>
        <li>Suraj Kumar</li>
        <li>Sanjay Venugopal</li>
        <li>Akshaj Nevgi</li>
        <li>Pushadapu Sai Krishna</li>
        <li>Shubham Maheshwari</li>
      </ul>
  </p></center><br><br><br><br>
</section>
<%- include("partials/footer"); -%>
