<%- include("partials/header"); -%>
<div class="calculator-div">
<form class="" action="/aqi" method="post">
  <div class="form-group">
    <label>Latitude:</label>
    <input class="form-control" name="latitude"></input>
    <label>Longitude:</label>
    <input class="form-control" name="longitude"></input>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Submit</button>
</form>
</div>
<%- include("partials/footer"); -%>
<!-- </body>
</html> -->
