<%- include("partials/header"); -%>
<section id="home" class="home height">
    <br><center><h1>CONTACT US</h1>
    <br>
    <p id="homePara">You can contact us at:</p>
    <p>
      Email:
      <ul>
        <li>gautam.prakash2020a@vitstudent.ac.in</li>
        <li>anmol.srivastava2020@vitstudent.ac.in</li>
        <li>suraj.kumar2020@vitstudent.ac.in</li>
        <li>nandurijayant.vishnu2020@vitstudent.ac.in</li>
      </ul>
  </p></center><br><br><br><br>
</section>
<%- include("partials/footer"); -%>
