<%- include("partials/header"); -%>

<div class="result-div">
  <h3>Seems like there are no vaccination centers availabe at given PIN on given date. Please try some other date.</h3>
  <form class="" action="/cowinNoResult" method="post">
    <button class="btn btn-primary" type="submit" name="button">Retry</button>
  </form>
</div>
<%- include("partials/footer"); -%>
<!-- </body>
</html> -->
