<%- include("partials/header"); -%>
<div class="calculator-div">


<h1>Kindly enter these details:</h1>
<form class="" action="/cowin" method="post">
  <div class="form-group">
    <label>PIN:</label>
    <input class="form-control" name="pin">
    <label>Date in DD-MM-YYYY format:</label>
    <input class="form-control" name="date"></input>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Submit</button>
</form>
</div>
<%- include("partials/footer"); -%>
<!-- </body>
</html> -->
