<%- include("partials/header"); -%>

<div class="result-div">
  <h3>It seems like the API call did not return valid data. Please try again later.</h3>
</div>
<%- include("partials/footer"); -%>
<!-- </body>
</html> -->
