<%- include("partials/header"); -%>
<section id="home" class="home height">
    <br><center><h1>HOME</h1>
    <br>
    <p id="homePara">Welcome to our HEALTH INDEX calculator.</p><br><br></center>
    <div class="row">
    <div class="card-deck">
    <div class="col-lg-4 col-md-6">
        <div class="card">
        <div class="card-header">
          <center>
          <h3>HEALTH INDEX CALCULATOR</h3>
          </center>
        </div>
        <div class="card-body">
          <center><br>
            <p>Our HI calculator quantifies data entered by you into a score out of 100.</p>
            <a href="/calculator"><button type="button" class="btn btn-primary-outline">Calculator</button></a>
          </center>
          <br>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card">
        <div class="card-header">
          <center>
          <h3>AIR QUALITY INDEX</h3><br>
          </center>
        </div>
        <div class="card-body">
          <center><br>
          <p>Want to know more about the air you're breathing right now?</p>
          <a href="/aqi"><button type="button" class="btn btn-primary">AQI info center</button></a>
          </center>
          <br>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card">
        <div class="card-header">
          <center>
          <h3>Cowin available slot checker</h3>
          </center>
        </div>
        <div class="card-body">
          <center><br>
          <p>Want to find about the availabe covid-19 vaccination slots in your area?</p>
          <a href="/cowin"><button type="button" class="btn btn-primary">Check availabe slots</button></a>
          </center>
          <br>
        </div>
      </div>
    </div>
</div>
</div>
</section>

<!-- </body>
</html> -->
<%- include("partials/footer"); -%>
